---
import TopReadsCard from "./TopReadsCard.astro";
import {topReads} from '../../mock/topReads'
---

<section id="top-reads" class="container">
    <div class="section_title_container">
        <div class="section_title">
            <h3>MORE TOP READS</h3>
        </div>
    </div>
    <div class="top_reads_card__container">
        <div class="top_reads_card__list">
            {
                topReads.map((topRead:any, index:number)=> <TopReadsCard href={topRead.href} imgSrc={topRead.imgSrc} title={topRead.title} key={index} />)
            }
        </div>
    </div>
</section>

<style>
    .top_reads_card__container {
	margin-left: calc((100vw - 100%) / -2);
	margin-right: calc((100vw - 100%) / -2);
	overflow: hidden;
}

.top_reads_card__list {
	-webkit-scroll-snap-type: x mandatory;
	-moz-scroll-snap-type: x mandatory;
	scroll-snap-type: x mandatory;
	-webkit-scroll-behavior: smooth;
	-moz-scroll-behavior: smooth;
	scroll-behavior: smooth;
	margin-top: 0;
	margin-left: 2rem;
    padding: 2.1rem 2rem 2rem 0;
	overflow: hidden;
	overflow-x: auto;
	list-style: none;
	margin-bottom: -1rem;
	display: grid;
	grid-template-columns: 20rem 20rem 20rem 20rem;
	column-gap: 2.4rem;
}
@media screen and (min-width: 768px){
    .top_reads_card__container{
        margin: 0;
        overflow: initial;
    }
    .top_reads_card__list{
        padding: 0;
        padding-top: 2.8rem;
        margin-left: 0;
            grid-template-columns: repeat(4,minmax(0,1fr));
            column-gap: 2.4rem;
    }
}
</style>